:root {
    --primary-color: #7CFFD2;
    --square-color: #6495F1;
    --cells-size: 50px;
}

select {
    padding: 0 60px;
}

button {
    border: 1px solid black;
    padding: 0 40px;
    border-radius: 3px;
}

.section-green {
    background-color: var(--primary-color);
}

.grid-container .cell {
    width: var(--cells-size);
    height: var(--cells-size);
    border: 2px solid black;
}

.blue {
    background-color: var(--square-color);
    color: white;
}

